


* {
    font-family: "Varela Round", serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    align-items: inherit;
}
a {
    cursor: pointer;
    text-decoration: none;
}
h1, h2, a {
    text-align: center;
}
h1 {
    font-size: x-large;
}
h2 {
    font-size: larger;
}

body {
}
.main-wrap {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 992px;
}

/***************************** Composition ****************************/


.child-gaps > * {
    margin-top: 2em;
}
.child-gaps > * > * + * {
    margin-top: 1em;
}


/***************************** Utility *****************************/
.hover-underline-animation {
    position: relative;
}
.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    border-radius: 4px;
    transform: scaleX(0);
    height: 5px;
    bottom: -8px;
    left: 0;
    background-image: linear-gradient(90deg, cornflowerblue, mediumpurple);
    background-color: rgb(205, 166, 255);
    transform-origin: bottom right;
    transition: transform 0.2s ease-out;
}
.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.margin-x-auto {
    margin-left: auto;
    margin-right: auto;
}
.width-auto {
    width: auto;
}
.width-100 {
    width: 100%;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-container-row {
    display: flex;
    flex-direction: row;
}
.flex-wrap { flex-wrap: wrap; }
.justify-space-evenly { justify-content: space-evenly; }
.justify-center { justify-content: center; }
.align-end { align-items: end; }
.align-center { align-items: center; }
.text-center { text-align: center; }
.color-white { color: white; }
.color-red { color: darkred; }
.text-shadow { text-shadow: 0.1em 0.1em 0.1em black; }
.bg-color-purple-2 { background-color: #e9e1fa; }
.bg-color-purple-1 { background-color: #F3EFFB; }
.bg-color-blue { background-color: #4d465d; }
.bg-color-1 { background-color: #ddcffc; }
.br-1 { border-radius: 1.1em; }
.large-text { font-size: 1.3em; }
.font-size-medium { font-size: 20px; }
.pos-absolute { position: absolute; }
.pos-relative { position: relative; }

/***************************** Block *****************************/
.header {
    border-radius: 0 0 15px 15px;
    position: fixed;
    z-index: 1;
    width: 100%;
    max-width: 992px;
    height: 80px;
    justify-content: space-between;
    padding-right: 10px;
}
nav {
    display: none;
}
.header__menu-icon {
    margin-right: 15px;
}

.logo-img {
    border-radius: 0 20px 20px 20px;
    width:130px;
    height: 100%;
    background-image: linear-gradient(90deg, cornflowerblue, mediumpurple);
}
.menu-line {
    height: 10px;
    width: 40px;
    background-color: #b3a2e2;
    margin: 6px;
    border-radius: 3px;
}
.v-line {
    min-width: 2px;
    border-radius: 2px;
    margin: 0 4px;
    height: 4em;
    width: 2px;
    background-color: grey;
}
.h-line {
    min-height: 3px;
    border-radius: 100%;
    margin: 2em auto 0;
    width: 80%;
    background-color: #b3a2e2;
}
/* HEADER END*/
.greeting {
    height: 70vw;
    max-height: 700px;
    min-height: 400px;
    font-size: 4vw;
}
.greeting__button-container {
    margin-top: 2em;
    font-size: 4vw;
}
.main-image {
    top: 0;
    filter: brightness(70%);
    width:100%;
    min-height: 400px;
    max-width: 992px;
    object-fit: cover;
    overflow: hidden;
}
.information {
    position: relative;
    margin-top: -80px;
    border-radius: 15px 15px 0 0;
    padding: 1px 20px 45px 20px;
    min-height: 100vh;
}

.services {
    max-width: 600px;
}
.services__service {
    gap: 6px;
}
.services__service-notice {
    text-align: center;
}

.button {
    font-family: "Varela Round", sans-serif;
    cursor: pointer;
    min-width: fit-content;
    text-decoration: none;
    margin: 0 4px;
    color: white;
    text-align: center;
    border-radius: 0.8em;
}

.pictures {
    gap: 15px;
}
.pictures__img {
    transition: 0.6s;
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.pictures__img:hover {
    transform: scale(1.1);
}


.testimonials__container {
    width: 100%;
    max-width: 600px;
    gap: 10px;
}
.testimonials__container > p {
    width: 48%;
    min-height: 35px;
    background-color: #C4BDEF;
    font-size: 0.9em;
    padding: 10px;
    border-radius: 10px;
}


.footer-container {
    margin-top: auto;
}
.footer-container__footer {
    z-index: 1;
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 80px;
    min-height: 80px;
    color: #3d0e3a;
    gap: 5px;
}
/***************************** Exception *****************************/


.button[data-type="large"] {
    margin: 0 auto;
    padding: 0.5em 0.8em;
    background-color: rgba(147, 112, 219, 0.5);
}
.button[data-type="large"]:hover,
.button[data-type="large"]:focus {
    background-color: rgba(147, 112, 219, 0.7);
}

.button[data-type="nav"] {
    font-weight: bold;
    color: #3d0e3a;
    padding: 20px 6px;
}
.button[data-type="nav"]:hover {
    transition: 0.5s;
    color: purple;
}

.button[data-type="medium"] {
    padding: 0.3em 3em;
    color: #3d0e3a;
    font-size: 24px;
    font-weight: bold;
    /*background-color: mediumpurple;*/
    text-transform: uppercase;
}
.button[data-type="medium"]:hover,
.button[data-type="medium"]:focus {
    /*background-color: rgba(147, 112, 219, 0.7);*/
}




/* inquiry page */
.inquiry-container {
    margin: 20px;
    padding: 80px 0px 0px 0px;
    width: auto;
    justify-content: center;
}
.inquiry-container > * + * {
    margin-top: 20px;
}
.inquiry-container__text-container {
    padding: 20px;
    border-radius: 8px;
}
.here-link {
    transition: 0.1s;
}
.here-link:hover {
    color: #9359ff;
}
.inquiry-form {
    display: flex;
    flex-direction: column;
    border-style: double;
    border-width: 10px;
    border-radius: 25px;
    border-color: #ecdfff;
    padding: 20px;

    background-color: #ffffff;
}
.inquiry-form__entry {
    display: flex;
    width: auto;
}
.entry__label {
    white-space: nowrap;
    width: 80px;
    display: flex;
    justify-content: end;
    float: left;
    clear: left;
    align-items: center;
}
.checkbox-container {
    height: 3em;
    width: 300px;
}
.entry__checkbox-label {

}
.inquiry-img {
    max-width: 400px;
}

.entry__input, textarea, .inquiry-form__submit {

    border-width: 3px;
    border-radius: 25px;
    border-color: #d2d2d2;
    border-style: none;
}

.entry__input, textarea {
    width: 300px;
    display: inline-block;
    float: left;
    text-align: left;
    margin: 15px;
    padding: 15px;
    background-color: #ece9ff;
}
.inquiry-form__entry__input:invalid {
    border-color: #e54b4b;
}
.inquiry-form__submit {
    cursor: pointer;
    background-image: url("images/paw.png");
    background-size: cover;
    margin: 0 auto;
    padding: 25px;
    font-size: 16px;
    background-color: #7760a6;
    color: white;
    transition: background-position 0.4s ease, color 0.3s ease-out;

}
.inquiry-form__submit:hover {
    color: transparent;
    background-position: bottom;
}
.inquiry-form__submit:active {
    transition: 0.4s;
    transform: scale(96%);
    background-color: #ac89ef;
}
#img-container {
    font-size: 18px;
    display: none;
}
iframe {
    margin-top: 80px;
}

















/*MEDIA QUERIES*/
@media only screen and (min-width: 688px) {
    nav {
        display: inline-flex;
    }

    .header__menu-icon {
        display: none;
    }

    /*.greeting p:not(.large-text), .greeting a {*/
    /*    font-size: 30px;*/
    /*}*/
}
@media only screen and (min-width: 992px) {
    .greeting {
        font-size: 40px;
    }
    .greeting__button-container {
        font-size: 40px;
    }
}
@media only screen and (min-width: 1312px) {
    .main-wrap, .header {
        margin: 0 auto;
    }
}

