


* {
    font-family: serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    align-items: inherit;
}
h1, h2, a {
    text-align: center;
}
h1 {
    font-size: x-large;
}
h2 {
    font-size: larger;
}

body {
    background-color: white;
    height: 100vh;
}
/* Composition */

.child-gaps > * {
    margin-top: 2em;
}
.child-gaps > * > * + * {
    margin-top: 1em;
}

/* Utility */

.margin-x-auto {
    margin-left: auto;
    margin-right: auto;
}
.width-auto {
    width: auto;
}
.width-100 {
    width: 100%;
}
.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-container-row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.justify-space-evenly {
    justify-content: space-evenly;
}

.align-end {
    align-items: end;
}

.align-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.bg-color-purple-2 {
    background-color: #e9e1fa;
}
.bg-color-purple {
    background-color: #F3EFFB;
}
.bg-color-blue {
    background-color: #cff8ff;
}

.br-1 {
    border-radius: 1.1em;
}
.large-text {
    font-size: 1.3em;
}


/* Block */
.header {
    border-radius: 0 0 15px 15px;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    padding-right: 10px;
}
nav {
    display: none;
}
.header__menu-icon {
    margin-right: 15px;
}

.logo-img {
    border-radius: 0 20px 20px 20px;
    width:130px;
    height: 100%;
    background-image: linear-gradient(90deg, cornflowerblue, mediumpurple);
}
.menu-line {
    height: 10px;
    width: 40px;
    background-color: #b3a2e2;
    margin: 6px;
    border-radius: 3px;
}
.v-line {
    min-width: 2px;
    border-radius: 2px;
    margin: 0 4px;
    height: 4em;
    width: 2px;
    background-color: grey;
}
/* HEADER END*/
.greeting {
    height: 70vw;
    max-height: 700px;
    min-height: 400px;
    font-size: 4vw;
}

.information {
    position: relative;
    margin-top: -80px;
    border-radius: 15px 15px 0 0;
    padding: 1px 20px 45px 20px;
    min-height: 100vh;
}

.services {
    max-width: 600px;
}
.services > div > a {
    margin-top: 15px;
    text-align: center;
}
.button {
    font-family: sans-serif;
    cursor: pointer;
    min-width: fit-content;
    font-size: 1.1em;
    text-decoration: none;
    margin: 0 4px;
    color: white;
    text-align: center;
    border-radius: 1.1em;
}
.pictures__img {
    width: 100%;
    max-width: 150px;
    height: 150px;
    object-fit: cover;
}

/* Exception */
.button[data-type="large"] {
    margin: 0 auto;
    padding: 0.5em 0.8em;
    background-color: rgba(147, 112, 219, 0.5);
}
.button[data-type="large"]:hover,
.button[data-type="large"]:focus {
    background-color: rgba(147, 112, 219, 0.7);
}

.button[data-type="nav"] {
    font-family: serif;
    color: #3d0e3a;
    padding: 20px 6px;
}

.button[data-type="medium"] {
    padding: 0.3em 3em;
    background-color: mediumpurple;
    text-transform: uppercase;
}
.button[data-type="medium"]:hover,
.button[data-type="medium"]:focus {
    background-color: rgba(147, 112, 219, 0.7);
}







.greeting > section > h1 {
    font-size: 7vw !important;
    margin-bottom: .2em;
}
.greeting > section > p {
    margin-bottom: .2em;
}

.greeting > section > div {
    margin-top: 10px;
    font-size: 3vw;
}
.overlay {
    position: relative;
}

.meet-and-greet {
    box-sizing: content-box;
}
.greeting p, .greeting h1 {
    color: white;
    text-shadow: 2px 2px 3px black;
}

.main-image {
    position: absolute;
    top: 0;
    filter: brightness(70%);
    width:100%;
    min-height: 400px;
    max-width: 1312px;
    object-fit: cover;
    overflow: hidden;
}

.center {
    margin: 0 auto;
}

#meet-and-greet > a {
    width: auto;
}


.pictures {

    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}




.testimonials__container {
    width: 100%;
    max-width: 600px;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
}

.testimonials > div > p {
    width: 48%;
    min-height: 35px;
    background-color: #C4BDEF;
    font-size: 0.9em;
    padding: 10px;
    border-radius: 10px;
}







footer {
    position: relative;
    margin-top: -15px;
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 80px;
    background-color: #e9e1fa;
    color: #3d0e3a;
    gap: 5px;
}



/*MEDIA QUERIES*/
@media only screen and (min-width: 688px) {
    nav {
        display: inline-flex;
    }

    .header__menu-icon {
        display: none;
    }

    /*.greeting p:not(.large-text), .greeting a {*/
    /*    font-size: 30px;*/
    /*}*/
}
@media only screen and (min-width: 992px) {
    /*.greeting > section > p {*/
    /*    font-size: 80px;*/
    /*}*/
}
@media only screen and (min-width: 1312px) {
    .main-wrap, .header {
        max-width: 1312px;
        margin: 0 auto;
    }
}

/* inquiry page */
.inquiry-box {
    padding: 100px 0px 30px 0px;
    width: auto;
}

form > div {
    display: flex;
    width: auto;
}
form > div > label {
    width: 200px;
    display: flex;
    justify-content: end;
    float: left;
    clear: left;
    align-items: center;
}


input:not(.submit), textarea {
    width: 300px;
    display: inline-block;
    float: left;
    text-align: left;

    margin: 15px;
    padding: 15px;
    border-radius: 20px;
    border-width: thin;
}

.submit {
    margin-left: 200px;
    clear: left;
    float: left;
    padding: 25px;
    border-width: thin;
    border-radius: 25px;
}

iframe {
    margin-top: 80px;
}